extends layout
block content
  h1= title
  - let Recipeid = toShow._id
  - let recipes_name = toShow.recipes_name
  - let recipes_qunatity = toShow.recipes_qunatity
  - let recipes_price = toShow.recipes_price
  div
    div.row
      div(class='RecipeAttr mr-3') Recipe ID is:
      div #{Recipeid}
    div.row
      div(class='RecipeAttr mr-3') Costume Type is:
      div #{recipes_name}
    div.row
      div(class='RecipeAttr mr-3') Costume Size is:
      div #{recipes_qunatity}
    div.row
      div(class='RecipeAttr mr-3') Costume Cost is:
      div #{recipes_price}
